@import url('https://fonts.googleapis.com/css2?family=Anaheim&display=swap');

body {
  background-color: #1f242d;
  font-family: 'Anaheim', sans-serif;
}

html{
  overflow: -moz-scrollbars-vertical; 
  overflow-y: scroll;
}

/*dodaj_jelo forma*/
label {
  display: inline-block;
  width: 150px;
  text-align: right;
}
.dodaj_jelo {
  border: 1px solid black;
  border-radius: 10px;
  background-color: #292b2c;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-right: 30%;
  margin-left: 30%;
  padding-bottom: 5%;
}

#logo{
  padding-left: 5px;
  color: #1f242d;
  font-weight: bold;
}

#img{
  margin-top: 15px;
}

#grid{
  position: absolute;
  object-fit: cover;
  bottom: 150px;
  left: 470px;

}

#text{
  padding-top: 10px;
  font-size: 30px;
}

#text2{
  font-size: 22px;
}


/* pop dialog */
.modal{
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
padding-top: 100px; /* Location of the box */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.4); 
}

#pretraga{
  width: auto;
  text-align: center;
  padding-bottom: 15px;
}

#pretraga input{
  background-color: white;
  color: black;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 42px;

}

.myModal{
  width: 50px;
}


.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

.close {
  color: #f30000;
  float: right;
  text-align: right;
  font-size: 33px;
  font-weight: bold;
}
/**/
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.input{
  background-color: #EAEAEA;
  border: 0px solid;
  width: 80%;
  height: 35px;
  margin: 10px;
  padding: 15px;
  border-top-right-radius: 9px;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
}

.input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(0, 0, 0, 0.475);
}


.container {
  background-color: #1f242d;
  font-family: 'Anaheim', sans-serif;
  background-color: #ffffff;
  width: 500px;
  height: auto;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  text-align: center;
  padding: 15px;
  font-family: 'Anaheim', sans-serif;
}

.container-shadow {
  background-color: #1f242d9f;
  width: 500px;
  height: 400px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  text-align: center;
  padding-left: 50px;
  font-family: 'Anaheim', sans-serif;
}



.btn{
  text-align: center;
  width: 200px;
  margin-top: 15px;
  height: 45px;
  font-size: 20px;
  font-family: 'Anaheim', sans-serif;
  background-color: #1F242D;
  color: white;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

#inp{
  text-align: center;
  margin: auto;
}

#img-profile{
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  width: 250px;
  height: 250px;
  object-fit:cover;
}

#nazad-jelovnik{
  text-decoration: none;
  color: rgb(61, 61, 255);
}

#container-profile{
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
#izmeni{
  background-color: white;
  color: black; 
  width: 120px; 
  height: 40px; 
  text-align: center;
}

.btn .jelovnik{
  background-color: green;
}

.btn.pretrazi{
  background-color: #1F242D;
  color: white;
  width: auto;
  height: auto;
  font-size: 20px;
}

.alert{
  padding: 0px;
  color: red;
  height: auto;
  width: auto;
  margin: 2px;
  
}

.info{
  padding: 0px;
  color: green;
  height: auto;
  width: auto;
  padding-top: 5px;
  margin: 2px;
  
}


.key{
  padding-top: 10px;
  text-align: left;
}

.value{
  font-weight: bold;
  padding-top: 10px;
  text-align: right;
  padding-right: 20px;

}

#content-tekuci, #content-iduci{
  
  background-color: rgba(13, 170, 91, 0.538);
  color: white;
  font-weight: bold;
  padding-left: 15px;
  padding-top: 30px;
  padding-bottom: 15px;
  margin-left: 15%; 
  margin-right: 15%; 
  z-index: -1;
  display: none;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.main {
  background-color: #1f242d;
  font-family: 'Anaheim', sans-serif;
  background-color: #f0f0f0;
  padding-top: 50px;
  margin-left: 10%;
  margin-right: 10%;
  height: 1000px;
  padding-bottom: 70px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  font-weight: lighter;
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
}

#pretraga_korisnika{
  width: 500px;
}

#index-jelovnik{
  padding: 15px;
  text-align: center;
  background-color: white;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  margin: 15px;
}

#table-content{
  display: block;
  justify-content: center;
  align-items: center;
}
.table-wrapper{
  width: 280px;
  margin: auto;
}

/*naslov-kolona*/
.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 20px;
  font-family: sans-serif;
  width: 200px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.styled-table thead tr {
  background-color: #1f242d;
  color: #ffffff;
  text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.adminPodesavanja{
  background-color: #1F242D;
  color: white;
  padding-top: 0px;
  width: -webkit-fill-available;
  font-size: 25px;
  text-align: center;
  font-family: "Anaheim", sans-serif;
}

.row .option {
  padding: 15px;
}

.option a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
@media (min-width:320px)  {/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 
  #pretraga input{
    width: 250px;
  }
  .styled-table{
    width:  550px;
  }
  .row{
    display: block;
    align-items: center;
    justify-content: center;

  }
  .container{
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }
  .main{
    height: auto;
  }
  .styled-table{
    width:  50px;
    margin-left: 10px;
    margin-right: 10px;
  }
  }
  .styled-table th,
.styled-table td {
    padding: 7px 7px;
}
  .navbar{
    margin-left: 0px;
    margin-right: 0px;
    color: black;
  }
  .main{
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  } 
  
@media (min-width:480px)  
{ /* smartphones, Android phones, landscape iPhone */ 

}
@media (min-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }
@media (min-width:801px)  { 
  .styled-table{
    width: 600px;
  }
  .row{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container{
    width: 500px;
  }
  .navbar{
    margin-left: 10%;
    margin-right: 10%;
  }
  .main{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  } 
  /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }
